# Core Settings
PORT=5000
NODE_ENV=development
JWT_SECRET=super_secure_travelbee_jwt_secret_key_2026

# Database & Cache
MONGO_URI=mongodb://localhost:27017/travelbee
REDIS_URL=redis://localhost:6379

# Subservice Ports
REALTIME_PORT=5001
WEB_PORT=5173

# External APIs
MAPS_API_KEY=AIzaSyBOEg3yZ_NxNtNBRQuViIZ-6YzC6lEeJGs
